@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    background-color: #f0f8ff;
    line-height: 1.6;
}

.navbar {
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.nav-link {
    color: #fff !important;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #1F4C73;
}

.card {
    cursor: pointer; /* Cursor de mano al pasar el ratón sobre las tarjetas */
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: auto;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #30475E;
}

.card-text {
    font-size: 16px;
    text-align: justify;
    color: #555;
}

.modal-header {
    background-color: #1F4C73; /* Color del encabezado del modal */
    color: white; /* Color del texto del encabezado */
}

.modal-footer {
    justify-content: space-between; /* Espacio entre botones */
}

/* Responsive Design */
@media (max-width: 576px) {
    .nav-link {
        font-size: 16px;
    }
}

.animated-heading {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    animation: slide-in 2s ease-out forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Estilos para el servicio de Java */
#java-service {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    color: #333;
}

#java-service .service-title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

#java-service .service-description {
    font-size: 16px;
    text-align: justify;
    color: #555;
}

#java-service .service-image {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}
