@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    background-color: #f0f8ff;
    line-height: 1.6;
}

.navbar {
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.nav-link {
    color: #fff !important;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff;
}

.card {
    cursor: pointer; /* Cursor de mano al pasar el ratón sobre las tarjetas */
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #30475E;
}

.card-text {
    font-size: 16px;
    text-align: justify;
    color: #555;
}

.modal-header {
    background-color: #007bff; /* Color del encabezado del modal */
    color: white; /* Color del texto del encabezado */
}

.modal-footer {
    justify-content: space-between; /* Espacio entre botones */
}

/* Responsive Design */
@media (max-width: 576px) {
    .nav-link {
        font-size: 16px;
    }
}
